body {
  margin: 0;
  font-family: 'Public Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #446682;
}

.categori-aktif {
  background-color: #446682;
  margin-left: 20px;
  color: #446682
}

.btn-primary {
  background-color: #446682;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}